@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
--DesaturatedRed: hsl(0, 36%, 70%);
--SoftRed: hsl(0, 93%, 68%);
--DarkGrayishRed: hsl(0, 6%, 24%);
}
body{ font-family: "Josefin Sans", sans-serif;
    background-image: url(../images/bg-pattern-desktop.svg) ;
    background-repeat: no-repeat;background-size: cover;
    }
.page{display: flex;
    flex-direction: row-reverse;}
    .a{    margin: 8px 0 0 56px}
.page .soon .part1{color: var(--DesaturatedRed);
    font-size: 60px;
    display: block;
    text-transform: uppercase; letter-spacing: 25px;}
.Logo{display: none;}
.logo{
    margin-bottom: 65px}
.page .soon .part2{text-transform: uppercase;
    font-size: 47px;
    letter-spacing: 20px;
}

.page .ime  .decktop{width: 300px;
    height: 444px;
;}
.ime  .mobile{display: none;}
.text p{
    line-height: 19px;
    font-size: 16px;
    width: 426px;
    color: var(--DesaturatedRed);    margin-top: 20px;}

input {   margin-top: 40px;
border-radius: 20px;
width: 310px;
height: 40px;
padding: 0 10px 0;
border: 1px solid var(--DesaturatedRed);}
.input .button {    border: none;
    border-radius: 20px;
    width: 70px;
    background-color: hsl(0deg 93% 68% / 95%);
    height: 42px;
    text-align: center;
    margin-left: -30px;
    box-shadow: 0 10px 26px 3px hsl(0deg 36% 70% / 40%);
}
.input{    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.input .arrow img{padding: 10px;}
::placeholder{
    color: var(--DesaturatedRed);
}
.error{color: var(--SoftRed);    margin-left: 20px;
    margin-top: 10px;}
@media (max-width:375px){
    .page{display: flex;flex-direction: column;}
    .ime  .decktop{display: none ;}
    .ime .mobile{display: block;}
    .a{text-align: center;margin: 0;margin-left: 20px;}
    .logo{display: none;width: 375px;}
    .Logo {background-color: white; padding: 12px;display: block;}
    .Logo img {width: 85px;}
    .soon{margin-top: 80px;margin-left: 20px}
    .text{margin-left: 20px;}
    .text p {width: 332px;}
    .input{justify-content: center;margin-bottom: 20px}
    input{width: 250px;}
    footer{width: 375px;}
}